body {
    font-size: 1.3rem;
}

li {
    display:inline;
}

ul {
    list-style-type: none;
    padding: 5px;
    overflow: hidden;
    text-align: center;
}

li a {
    padding: 10px;
    text-align: center;
    display: inline-block;
    padding: 2px;
    background-color: azure;
    border: 2px ridge grey;
}

li a:hover {
    background-color:  rgba(173,173,173,0.7);
    border: 2px ridge white;
    border-collapse: collapse;
}

.lit {
    text-align: center;
}

.Cameron {
    text-align:center;
    margin-top: 5%;
    font-size: 3rem;
}

.MilH {
    background-color: rgba(173,173,173,0.7);
    border: 3px ridge white;
    padding-left: 5px;
    padding-right: 5px;
}

.linkReg {
    color:black;
    font-weight: 600;
}

.stitle{
    font-size: 1.25rem;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgba(173,173,173,0.7);
    border: 3px ridge white;
    font-weight:550;
}

.lidiv{
    width: 49%;
    display:inline-block;
    background-color: rgba(173,173,173,0.75);
    border: 3px ridge white;
    margin-top:3%;
    vertical-align: top;
}

.tridiv {
    width: 32%;
    display: inline-block;
    background-color: rgba(173,173,173,0.75);
    border: 3px ridge white;
    margin-top:3%;
    vertical-align: top;
}

.pageFormat {
    margin-left:1%;
    
}

.secondlidiv{
    float:right;
}

.summary {
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
    Margin: 3%;
    padding:1%;
    background-color: rgba(173,173,173,0.8);
    font-weight: 600;
    border: 3px ridge white;
}

.ind {
    text-indent: 40px;
}

p {
    padding: 5px;
}

.contact {
    margin-left: 45%;
    margin-right: 45%;
    text-align: center;
    align-items: center;
    background-color: rgba(173,173,173,0.7);
    border: 3px ridge white;
}

.imgright {
    float: right;
    width: 40%;
    margin: 20px;
    border: 2px ridge lightgray;
}

.imgleft {
    float: left;
    width: 40%;
    margin: 20px;
    border: 2px ridge lightgray;
}

.fitImg {
    width: 100%;
    border: 2px ridge lightgray;
}

.topic {
    text-align: center;
}

.Homepage {
    background-image: url('HomeBkgd.png');
    background-size: cover;
    font-family:'Bell MT';
}

.Codingpage {
    background-image: url();
    background-size:cover;
    font-family: 'Bell MT'
}

.Communicationpage {
    background-image: url('CommunicationBkgd.png');
    background-position-y: top;
    background-size: cover;
    font-family:'Bell MT';
}

.Diligencepage {
    background-image: url('DiligenceBkgd.png');
    background-size: cover;
    background-position-y:30%;
    font-family:'Bell MT';
}

.Familypage {
    background-image: url('FamilyBkgd.png');
    background-size: cover;
    font-family:'Bell MT';
}

.Fictionpage {
    background-image: url('FictionBkgd.png');
    background-size: cover;
    font-family:'Bell MT';
}

.Intelligencepage {
    background-image: url('IntelBkgd.png');
    background-size: cover;
    font-family:'Bell MT';
}

.Militarypage {
    background-image: url('MilitaryBkgd.png');
    background-size: cover;
    font-family:'Bell MT';
}

.Paintingpage {
    background-image: url('HomeBkgd.png');
    background-size: cover;
    font-family:'Bell MT';
}

.Stoicismpage {
    background-image: url('StoicismBkgd.png');
    background-size: cover;
    font-family:'Bell MT';
}

.TTGamingpage {
    background-image: url('HomeBkgd.png');
    background-size: cover;
    font-family:'Bell MT';
}

.VideoGamepage {
    background-image: url('HomeBkgd.png');
    background-size: cover;
    font-family:'Bell MT';
}

.WorkLifepage {
    background-image: url('WorkLifeBalanceBkgd.png');
    background-size:auto;
    background-position-x: center;
    font-family:'Bell MT';
}